.image{
    width: 150px;
    height: 150px;
    margin-top: 30px;
}

.card{
    text-align: center;
    position: relative;
    display: inline-block;
    border:1px;
    border-style: ridge;
    border-color:gray;
    width: 280px;
    background-color: aliceblue;
    margin: 15px;
    margin-bottom: 10px;
}